<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
		<RollingFile name="FILE" fileName="${log-path}/app.log"
			filePattern="${log-path}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"	modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Logger name="pl.edu.pw.wsd.agency" level="info" additivity="false">
			<appender-ref ref="CONSOLE" level="debug" />
			<appender-ref ref="FILE" level="debug" />
		</Logger>
		<Root level="info" additivity="false">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>

